
[[plugins]]
repo = 'jeaye/color_coded'
build = 'cmake . && make && make install'
on_if = '!has("nvim")'
on_ft = ['c', 'cpp', 'objc', 'objcpp']

[[plugins]]
repo = 'Shougo/neocomplete.vim'
depends = 'context_filetype.vim'
if = "has('lua')"
on_ft = ['vim', 'haskell', 'toml']
hook_source = '''
  let g:neocomplete#enable_at_startup = 1
  source ~/.vim/rc/plugins/neocomplete.rc.vim
'''

[[plugins]]
repo = 'davidhalter/jedi-vim'
on_ft = 'python'
hook_source = '''
  let g:jedi#completions_enabled = 0
  let g:jedi#auto_vim_configuration = 0
  let g:jedi#smart_auto_mappings = 0
  let g:jedi#show_call_signatures = 0
'''

[[plugins]]
repo = 'Shougo/vimproc.vim'

